@import "../../global.scss"; 

.Menu {
    width: 300px;
    height: 100vh;
    margin-top: 70px;
    background-color: black;
    color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    opacity: 0.7;

    ul {
        margin: 0;
        padding: 0;
        color: $mainColor;
        width: 60%;
    }

    li {
        margin-bottom: 3rem;

        a {
            font-size: 30px;
            color: inherit;
            text-decoration: none;
        }
    }

    &.active {
        right: 0;
        background-color: $mainColor;

        ul {
            margin: 0;
            padding: 0;
            color: black;
            width: 60%;
        }

        li {
            margin-bottom: 3rem;
            
            a {
                font-size: 30px;
                color: inherit;
                text-decoration: none;
                
                &:hover {
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }
        }
    }
}