@import "../../global.scss";

.About {
    display: flex;
    color: $mainColor;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .aboutContainer {
            position: relative;
            width: 700px;
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include mobile {
                width: 100%;
                height: 100%;;
            }

            h3 {
                text-align: center;
                font-size: 30px;
                margin-bottom: 25px;

                @include mobile {
                    font-size: 22px;
                }
            }

            p{
                font-size: 20px;
                width: 500px;

                @include mobile {
                    text-align: center;
                    width: 100%;
                    font-size: 16px;
                }

                a {
                    color: $mainColor;

                    &:hover {
                        color: white;
                        transition: 0.5s ease;
                    }
                }
            }
        }
    }

    .right {
        flex: 0.5;

        @include mobile {
            height: 100%;
        }
        
        h3 {
            font-size: 30px;
            text-align: center;
            margin-top: 10vh;
            margin-bottom: 10vh;

            @include mobile {
                margin: 0;
                font-size: 22px;
            }
        }

        ul {
            margin: 10px;
            margin-bottom: 35px;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                margin: 10px 0;
            }
            
            li {
                text-align: center;
                width: 150px;
            }
        }

        .skill-icons {
            text-align: center;

            img {
                display: inline-block;
                padding: 50px;
            }

            .icon {
                color: white;
                font-size: 75px;
                display: inline-block;
                padding: 50px;
            }
        }

        // .skills-fill-container {
        //     position: relative;
        //     margin-right: 1vw;
        //     margin-bottom: 1.5vh;
        //     padding: 2vh 5vw;
        //     border: 2px solid rgba($mainColor, 0.5);

        //     .skills-fill {
        //         display: flex;
        //         flex-direction: row;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         height: 100.25%;
        //         margin: -0.25px 0 0 -0.25px;
        //         background-color: rgba(125, 125, 125, 1);

        //         p {
        //             align-self: center;
        //             margin-left: 5px;
        //             font-size: 1.5rem;
        //             font-weight: bold;
        //             color: rgba($mainColor, 1);
        //         }
        //     }

        //     .skills-fill-advanced {
        //         width: 55%;
        //         // background-color: #399e61;
        //     }
                
        //     .skills-fill-intermediate {
        //         width: 40%;
        //         // background-color: #f8c951;
        //     }

        //     .skills-fill-novice {
        //         width: 15%;
        //         // background-color: #fa4059;
        //     }
        // }
    }
}